@model IEnumerable<TradingData.Models.Company>

<h2>Symbols</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
            </tr>
        }

    </tbody>
</table>

<h4><a id="dbopt" asp-controller="Home" asp-action="PopulateSymbols">Click</a>
    here to populate all symbols and their details in local database.</h4>

<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>
